.menu{
    padding: 50px 0;

    span{
        color: $color_red;
    }

    .menu_img{
        padding: 10px;
        width: 25%;
        float: left;
    
        img{
            width: 100%;
         }
    }

}
